html, body {
	font-family: 'Arial', Helvetica Neue, Helvetica, sans-serif;
	color: #777777;
	background-image: url("../images/profile/dust_scratches.png");
	height: 100%;
	margin: 0;
}

#wrapper {
	min-height: 100%;
	margin-bottom: 75px; */
	position: relative;
}

/***************************************
HEADING TAGS
***************************************/

h1 {
	width: 300px;
	height: 50px;
	float: left;
	position: absolute;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 23px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 25px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	color: #4aaaa5;
	font-weight: bold;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #4aaaa5;
	font-weight: bold;
}

/***************************************
NAVIGATION
***************************************/

.main-nav {
	width: 100%;
	height: 75px;
	position: absolute;
	background-color: #ffffff;
	border-bottom: #cccccc 2px solid;
	overflow: hidden;
}

.inside-box {
	width: 960px;
	margin: auto;
}

li {
	display: block;
    float: right;
    text-align: center;
    border-right: 1px solid #666666;
}

li:first-of-type {
	border-right: none;
}

li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

/***************************************
MAIN CONTENT AREA
***************************************/

.entire-content-area {
	width: 960px;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 75px;
	position: relative;
}

.about-me {
	background-color: white;
	border: #cccccc 1px solid;
	width: 590px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
}

.profile-img {
	float: left;
	padding: 0px 30px 30px 0;
}

.line-spacing {
	line-height: 25px;
}

.connect-with-me {
	background-color: white;
	border: #cccccc 1px solid;
	width: 210px;
	float: right;
	position: relative;
	padding: 40px 30px 40px 30px;
}

/***************************************
PORTFOLIO PAGE STYLES
***************************************/

.portfolio {
	background-color: white;
	border: #cccccc 1px solid;
	width: 590px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
}

/***************************************
CONTACT FORM
***************************************/

.contact-me {
	background-color: white;
	border: #cccccc 1px solid;
	width: 590px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
}

input[type=text], input[type=email] {
	width: 98%;
	height: 30px;
	padding-left: 10px;
	margin-top: 8px;
	border: #cccccc .5px solid;
}

textarea {
	width: 99%;
	height: 200px;
	margin-top: 8px;
	border: #cccccc .5px solid;
}

.user-mail {
	padding-top: 20px;
}

.user-message {
	padding-top: 20px;
}

.button {
	padding-top: 20px;
}

button[type=submit] {
	width: 120px;
	height: 40px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 16px;
	border: none;
}

/***************************************
FOOTER
***************************************/

.footer {
	width: 100%;
	height: 25px;
	color: #cccccc;
	background-color: #666666;
	position: absolute;
	font-size: 13px;
	text-align: center;
	padding-top: 50px;
	border-top: #4aaaa5 7px solid;
}

.push {
	height: -150px; /* Equal to the height of the footer */
}