html, body {
	font-family: 'Arial', Helvetica Neue, Helvetica, sans-serif;
	color: #777777;
	background-image: url("../images/profile/dust_scratches.png");
	height: 100%;
	margin-bottom: 0;
}

/***************************************
WRAPS ENTIRE PAGE FOR FLEXBOX FOOTER
***************************************/

.wrapper {
	display: flex;
	min-height: 100%;
	flex-direction: column;
}

/***************************************
HEADING TAGS
***************************************/

h1 {
	width: 300px;
	height: 50px;
	float: left;
	position: absolute;
	background-color: #4aaaa5;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 23px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	padding-top: 25px;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 25px;
	color: #4aaaa5;
	font-weight: bold;
}

h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #4aaaa5;
	font-weight: bold;
}

/***************************************
NAVIGATION
***************************************/

header {
	width: 100%;
	height: 75px;
	position: absolute;
	background-color: #ffffff;
	border-bottom: #cccccc 2px solid;
}

.inside-box {
	width: 960px;
	margin: auto;
}

li {
	display: block;
    float: right;
    text-align: center;
}

li a {
    display: block;
    color: #666666;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}

li a:hover {
	color: #4aaaa5;
}

.line {
	height: 20px;
	float: right;
	border-right: 1px solid #666666;
	margin-top: 27px;
}

/***************************************
MAIN CONTENT AREA
***************************************/

.content-area {
	flex: 1 0 auto;
	width: 960px;
	height: 100%;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.about-me {
	background-color: white;
	border: #cccccc 1px solid;
	width: 590px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
}

.profile-img {
	float: left;
	padding: 0px 30px 30px 0;
}

.line-spacing {
	line-height: 25px;
}

.connect-with-me {
	background-color: white;
	border: #cccccc 1px solid;
	width: 210px;
	float: right;
	position: relative;
	padding: 40px 30px 40px 30px;
}

/***************************************
PORTFOLIO PAGE STYLES
***************************************/

.portfolio {
	background-color: white;
	border: #cccccc 1px solid;
	width: 590px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
}

.img-topleft {
	float: left;
	padding-bottom: 26px;
	position: relative;
	text-align: center;
	color: #ffffff;
}

.img-topleft-text {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 21px;
	padding-top: 17px;
	background-color: #4aaaa5;
	height: 35px;
	width: 100%;
}

.img-topright {
	float: right;
	padding-bottom: 26px;
	position: relative;
	text-align: center;
	color: #ffffff;
}

.img-topright-text {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 21px;
	padding-top: 17px;
	background-color: #4aaaa5;
	height: 35px;
	width: 100%;
}

.img-midleft {
	float: left;
	padding-bottom: 26px;
	position: relative;
	text-align: center;
	color: #ffffff;
}

.img-midleft-text {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 21px;
	padding-top: 17px;
	background-color: #4aaaa5;
	height: 35px;
	width: 100%;
}

.img-midright {
	float: right;
	padding-bottom: 26px;
	position: relative;
	text-align: center;
	color: #ffffff;
}

.img-midright-text {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 21px;
	padding-top: 17px;
	background-color: #4aaaa5;
	height: 35px;
	width: 100%;
}

.img-botleft {
	float: left;
	padding-bottom: 26px;
	position: relative;
	text-align: center;
	color: #ffffff;
}

.img-botleft-text {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 21px;
	padding-top: 17px;
	background-color: #4aaaa5;
	height: 35px;
	width: 100%;
}

/***************************************
CONTACT FORM
***************************************/

.contact-me {
	background-color: white;
	border: #cccccc 1px solid;
	width: 590px;
	float: left;
	position: relative;
	padding: 40px 30px 40px 30px;
}

input[type=text], input[type=email] {
	width: 98%;
	height: 30px;
	padding-left: 10px;
	margin-top: 8px;
	border: #cccccc .5px solid;
}

textarea {
	width: 99%;
	height: 200px;
	margin-top: 8px;
	border: #cccccc .5px solid;
}

.user-mail {
	padding-top: 20px;
}

.user-message {
	padding-top: 20px;
}

.button {
	padding-top: 20px;
}

button[type=submit] {
	width: 120px;
	height: 40px;
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 16px;
	border: none;
}

/***************************************
FOOTER
***************************************/

footer {
	width: 100%;
	height: 25px;
	color: #cccccc;
	background-color: #666666;
	font-size: 13px;
	text-align: center;
	padding-top: 50px;
	border-top: #4aaaa5 7px solid;
}